@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Comfortaa:wght@500;600&family=Kameron:wght@400;700&family=Pacifico&display=swap");

html {
  font-size: 14px;
}
body {
  font-family: "Antic Slab", serif;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.logo {
  font-size: 1.9em;
}
h4,
h5.modal-title {
  font-family: "Comfortaa", cursive;
}
h5 {
  font-family: "Pacifico", cursive;
}
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pricing-card-title {
  font-family: "Kameron", serif;
}
